Please authorize this application.

<div id="fb-root"></div>
    <script>
      var FBAppData = {
        appId:'{{ app_id }}',
        session:{{ session|raw }},
        requestedPermissions:{{ perms|json_encode|raw }},
        checkUrl:'{{ path('_caefer_facebook_canvas_app_security_check') }}'
      };
    </script>
    <script type="text/javascript" src="{{ asset('bundles/caeferfacebookcanvasapp/js/auth.js') }}"></script>
